<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Tekken Reborn game</title>
  </head>
  <body>
    <div
      class="d-flex flex-column bd-highlight justify-content-center align-items-center w-75 ms-5"
    >
      <h1>Tekken Reborn</h1>
      <p>
        Actually, I've also played Tekken on my friend's PSP and I don't really remember the stuff happened then. However, I've also had an X-Box 360 and I had a Tekken game and mine favorite hero was big bear or something like that. Лол
      </p>
    </div>
  </body>
</html>
